.pacotes__titulo {
    color: var(--grafite);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pacotes__titulo--texto {
    margin: 0;
    text-align: center;
}

.pacotes__titulo--sublinhado {
    width: 180px;
    height: 4px;
    background: var(--vermelho);
    margin-top: 16px;
}

.pacotes__destinos {
    margin-top: 4rem;
    padding: 0 1rem;
}

.pacotes__destinos__lista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
}

.pacotes__destinos__lista__item {    
    width: 100%;
    margin-bottom: 5rem;
}

.pacotes__destinos__lista__imagem-item {
    width: 100%;
}

.pacotes__pagamento {
    padding: 0 1rem;
}

.pacotes__pagamento__valor {
    font-size: 36px;
    font-weight: 700;
}

.pacotes__pagamento__grid {
    display: grid;
    grid-template: auto auto auto / auto auto;
    gap: 0.5rem;
}

.pacotes__pagamento__info {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.pacotes__pagamento__grid__imagem-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
}

.pacotes__pagamento__grid__imagem-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
}

.pacotes__pagamento__grid__imagem-3 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width: 100%;
}

.pacotes__depoimentos {
    margin-top: 4rem;
    padding: 0 1rem;
}

.pacotes__depoimentos--lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pacotes__depoimentos--item {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    margin-bottom: 4rem;
}

.pacotes__depoimento--texto {
    color: var(--grafite, #222);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
}

.pacotes__depoimento--foto {
    width: 50px;
    height: 50px;
}

.pacotes__depoimento--info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.pacotes__depoimento--nome {
    color: var(--grafite, #222);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.estrelas {
    font-size: 0px;
}

.estrela {
    width: 20px;
}

@media screen and (min-width: 768px) {

    .pacotes__destinos__lista {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        list-style-type: none;
    }

    .pacotes__pagamento__grid {
        gap: 1rem;
    }

    .pacotes__destinos, .pacotes__pagamento {
        padding: 0;
    }

    .pacotes__depoimentos {
        padding: 0;
    }

    .pacotes__depoimento--texto {
        font-size: 18px;        
    }

    .pacotes__depoimento--foto {
        width: 86px;
        height: 86px;
    }

    .pacotes__depoimento--nome {
        font-size: 20px;
    }
    
}

@media screen and (min-width: 1440px) {

    .pacotes__pagamento__grid {
        display: grid;
        grid-template: auto auto / auto auto auto;
        gap: 0.5rem;
    }
    
    .pacotes__pagamento__info {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        padding-right: 2rem;
    }
    
    .pacotes__pagamento__grid__imagem-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .pacotes__pagamento__grid__imagem-2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    
    .pacotes__pagamento__grid__imagem-3 {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    .pacotes__depoimentos--lista {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .pacotes__depoimentos--item {
        width: 100%;
    }

}